footer {
    background: white;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    height: 60px;
    position: fixed;
    width: 100%;
}

footer p {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10%;
}